.judul{
    text-align: center;
    font-family: 'Lucida Sans';
}

.kontenberita{
    margin-left: 10%;
    margin-right: 10%;
    height: 780px;
    width: 85%;
    background-color: whitesmoke;
}

.isi{
    text-align: justify;
    font-family: 'Segoe UI';
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
}