.judul{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 40px;
}

.kontenberita{
    border: 2px solid black;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.isi{
    text-align: justify;
    font-family: 'Segoe UI';
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
}

.pdf{
    text-align: center;
    margin-bottom: 4%;
    margin-top: 2%;
    margin-right: 3%;
}

.pejabat{
    margin-left: 10%;
    margin-right: 10%;
}